<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="center">
        <h1>Welcome to Hardware Instructor</h1>
        <a href="/student/register">Student</a>
        <a href="/instructor/login">Instructor</a>
    </div>
</body>
</html>
